@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.color-font-landing-page {
  font-family: "Nabla";
  font-size: 150px
}

.color-font {
  font-family: "Nabla";
  font-size: 150%;
}

.game-title {
  font-family: 'Press Start 2P', cursive;
}